.footer-box{
    width: 92%;
    margin: auto;
    margin-top: -40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 1.1rem;
    background-color: #EBEBF8;
    
}

.footer-box div div:nth-child(2) img{
    width: 1.6rem;
    padding-left: 5px;
    margin-top: 1.5rem;
}

.footer-box :nth-child(1) ul li{
    margin-bottom: 0.2rem;
    color: grey;
}

.footer-box :nth-child(2) ul li{
    margin-bottom: 0.2rem;
    color: grey;
}

.footer-box :nth-child(3) ul li{
    margin-bottom: 0.2rem;
    color: grey;
}

